table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
  background: white;
}

caption {
  padding: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

th, td {
  border: 1px solid #666;
  padding: 8px;
  height: 50px;
}

th {
  background: white;
}

.recreo {
  height: 20px;
  background: white;
}

.bd { 
  background: #d2d2ff; 
}
.contdes { 
  background: #ffa366; 
}
.ingprof { 
  background: #c9a3cb; 
}
.lima {
  background: #b8706b;
}
.itperempl {
  background: #ffc9c9;
}
.sistinf {
  background: #26c6c6;
}
.sustaplic {
  background: #62b1ec;
}
.prog {
  background: #0fdc0f;
}